@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html{
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

h1{
    font-size: calc(3.3rem + 1vw);
}

h2{
    font-size: calc(2rem + 1vw);
}

p{
    font-size:  1.15rem;
}

.container{
    min-width: 70%;
    max-width: 100%;
    width: 100vw;
    padding: 8vw 40vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 4px;
}

.container-animate{
    min-width: 70%;
    max-width: 100%;
    width: 100%;
    padding: 8vw 18vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-container{
    font-weight: 800;
    text-align: left;
    line-height: 120%;
}

.text-container{
    line-height: 120%;
}

.title-container-animate{
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    line-height: 120%;
}

.text-container-animate{
    text-align: center;
    line-height: 120%;
}

.container-information{
    width: 50%;
    min-width: 60vh;
    display: flexbox;
}

.container-animate-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-img{
    width: calc(35rem + 2vw);
    min-width: 60vh;
}

.container-even{
    background-color: whitesmoke;
}

header{
    background-image: url(../img/Header\ Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

footer {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#23272A;
}


@media (min-width:900px) and (max-width: 1179px) {

        
    h1{
        font-size: calc(2.8rem + 1vw);
    }

    h2{
        font-size: calc(1.5rem + 1vw);
    }

    p{
        font-size:  0.65;
    }
    
    .container{
        min-width: 60%;
        max-width: 100%;
        width: 100vw;
        padding: 8vw 40vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 4px;
    }

    .container-animate{
        min-width: 40%;
        max-width: 100%;
        width: 100%;
        padding: 8vw 18vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .container-information{
        width: 50%;
        min-width: 40vh;
        display: flexbox;
    }

    .container-animate-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-img{
        width: calc(20rem + 2vw);
        min-width: 50vh;
    }

    
}



@media (min-width: 600px) and (max-width: 900px) {

        
    h1{
        font-size: calc(2.8rem + 1vw);
    }

    h2{
        font-size: calc(1.5rem + 1vw);
    }

    p{
        font-size:  0.65;
    }
    
    .container{
        max-width: 100%;
        width: 100vw;
        padding: 6vw 30vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 4px;
    }

    .container-animate{
        max-width: 100%;
        width: 100%;
        padding: 6vw 8vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .container-information{
        width: 80%;
        min-width: 55vh;
        display: flexbox;
    }

    .container-animate-information{
        width: 50%;
        min-width: 55vh;
        display: flexbox;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-img{
        width: calc(20rem + 2vw);
        min-width: 50vh;
    }

    
}