@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html{
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
}

h1{
    font-size: calc(3.3rem + 1vw);
}

h2{
    font-size: calc(2rem + 1vw);
}

p{
    font-size:  1.15rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.container{
    width: 100vw;
    padding: 8vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 4px;
}

.container-animate{
    width: 100%;
    padding: 8vw ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-information{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.container-animate-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-img{
    width: calc(35rem + 2vw);
}

.title-container{
    font-weight: 800;
    text-align: left;
    line-height: 120%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-container{
    text-align: left;
    line-height: 120%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container-animate{
    font-family: "Luckiest Guy", cursive;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 120%;
}

.text-container-animate{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 120%;
}

.container-even{
    background-color: whitesmoke;
}

header{
    display: flex;
    background-image: url(../img/Header\ Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

footer {
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#23272A;
}



@media (max-width: 1180px) {

    html{
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        background-color: white;
    }
    
        
    h1{
        font-size: calc(2.8rem + 1vw);
    }

    h2{
        font-size: calc(1.5rem + 1vw);
    }

    p{
        font-size:  1.15rem;
    }
    
    .container{
        width: 100vw;
        padding: 8vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 4px;
    }

    .container-animate{
        width: 100%;
        padding: 8vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .container-information{
        width: 50%;
        display: flexbox;
    }

    .container-animate-information{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-img{
        width: calc(20rem + 2vw);
    }
 
    .title-container{
        font-weight: 800;
        text-align: left;
        line-height: 120%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .text-container{
        text-align: left;
        line-height: 120%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .title-container-animate{
        font-family: "Luckiest Guy", cursive;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 120%;
    }
    
    .text-container-animate{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 120%;
    }

    .container-even{
        background-color: whitesmoke;
    }
    
    header{
        display: flex;
        background-image: url(../img/Header\ Background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    }
    
    footer {
        height: 20vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#23272A;
    }
    

    
}



@media (max-width: 900px) {
    
    html{
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        background-color: white;
    }

    h1{
        font-size: calc(2.8rem + 1vw);
    }

    h2{
        font-size: calc(1.5rem + 1vw);
    }

    p{
        font-size:  1rem;
    }
    
    .container{
        width: 100vw;
        padding: 6vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 4px;
    }

    .container-animate{
        width: 100%;
        padding: 6vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .container-information{
        width: 80%;
        display: flex;
        flex-direction: column;
        display: flex;
    }

    .container-animate-information{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-img{
        width: calc(20rem + 2vw);
    }
    .title-container{
        font-weight: 800;
        text-align: left;
        line-height: 120%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .text-container{
        text-align: left;
        line-height: 120%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .title-container-animate{
        font-family: "Luckiest Guy", cursive;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 120%;
    }
    
    .text-container-animate{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 120%;
    }

    .container-even{
        background-color: whitesmoke;
    }
    
    header{
        display: flex;
        background-image: url(../img/Header\ Background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    }
    
    footer {
        height: 20vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#23272A;
    }   
}



@media (max-width: 500px) {

        
    html{
        max-width: 500px;
        min-width: 320px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        
    }

    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        background-color: white;
    }

    h1{
        font-size: calc(2rem + 1vw);
    }

    h2{
        font-size: calc(1.5rem + 1vw);
    }

    p{
        font-size:  1rem;
    }
    
    .container{
        width: 100vw;
        padding: 4vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 4px;
    }

    .container-animate{
        width: 100%;
        padding: 4;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        
    .container-information{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-animate-information{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-img{
        display: flex;
        width: 100%;
    }

    .title-container{
        font-weight: 800;
        line-height: 120%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }
    
    .text-container{
        text-align: left;
        line-height: 120%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .title-container-animate{
        font-family: "Luckiest Guy", cursive;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 120%;
    }
    
    .text-container-animate{
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        line-height: 120%;
    }


    .container-even{
        background-color: whitesmoke;
    }
    
    header{
        display: flex;
        background-image: url(../img/Header\ Background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    }
    
    footer {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#23272A;
    }
}